<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2014 OPM.gov

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Batch Process</role-name>
			<role-name>Service Credit Reviewer</role-name>
			<role-name>Receivables Supervisor</role-name>
			<role-name>Service Credit Specialist</role-name>
			<role-name>Receivables Technician</role-name>
			<role-name>Service Credit Data Entry Technician</role-name>
			<role-name>Financial Technician</role-name>
			<role-name>Financial Supervisor</role-name>
			<role-name>Information Technician</role-name>
			<role-name>System Administrator</role-name>
			<role-name>FACES User</role-name>
			<role-name>RIO User</role-name>
			<role-name>View Only User</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>SPNEGO</auth-method>
		<realm-name>SPNEGO</realm-name>
	</login-config>
</web-app>
